/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.actions a, .actions button {
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  border: solid 1px var(--primary);
  font-size: 1rem;
  cursor: pointer;
}

*:focus-visible {
  outline: dotted 1px var(--primary);
  outline-offset: 3px;
}

body {
  --primary: #31793f;
  --primary-contrast: #83d57c;
  --secondary: #ff9900;
  --text-color: #2D3142;
  --card-background: #cbeecd;
  --technologies-background: #b0d5b0;
  --page-background: linear-gradient(#4f5d75, #2d3142);
  --primary-font: url("../fonts/AmaticSC-Bold.ttf");
  --font: Helvetica, Arial;
  --imageSize: 300px;
  --dashed: 25px dashed;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--page-background);
  font-family: var(--font), sans-serif;
  color: var(--text-color);
}

.card {
  border: 10px solid var(--primary);
  border-radius: 1em;
  overflow: initial;
  box-shadow: 0 0 55px rgba(30, 40, 45, 0.75);
  padding: 1em;
  margin: calc(var(--imageSize) / 3 + 24px) 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;

  min-width: 35vw;
  height: auto;
  position: relative;

  background-color: var(--card-background);
  background-image: radial-gradient(circle at top right, var(--primary) 45%, transparent 25%, transparent);
  background-size: 500px 500px;
  background-position: top right;
  background-repeat: no-repeat;

  animation: fadeIn 1s forwards;
}

.column {
  display: flex;
  flex-direction: column;
}

section#contact-details {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0;
  margin: 0;
  animation: fadeIn 2s forwards;
  position: relative;
  top: 15%;
}

#contact-details h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

h1#name {
  font-size: 3em;
  font-family: fontEleven, Arial, sans-serif;
  text-shadow: -2px 2px 3px var(--secondary);
}

h2#company {
  font-family: fontNine, Arial, sans-serif;
  font-size: 2.5em;
  animation: pulse 1.2s ease-in forwards;
  color: var(--primary);
  text-shadow: -2px 2px 5px var(--secondary);
}


h2#emoji {
  animation: scaleUp 2s ease-in forwards;
}

h5#title {
  /*animation: slideIn, 1.25s ease-in forwards;*/
}

h4#email, #phone {
  /*animation: slideIn 1.3s ease-in forwards;*/
}

p.summary {
  margin: 2em 2em;
  line-height: 1.5;
}

/*h4#phone {*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*}*/
h5#title {
  color: var(--primary);
  font-weight: 600;
}

img {
  width: var(--imageSize);
  height: var(--imageSize);
  object-fit: cover;
  border-radius: 50%;
  margin-top: calc(-1 * var(--imageSize) / 3);
}

img.portrait {
  outline: var(--dashed);
  outline-color: var(--secondary);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: -75px;
  width: var(--imageSize);
  height: var(--imageSize);
  animation: fadeIn 3s forwards;
}

.row {
  display: flex;
  flex-direction: row;
}

a#email-link {
  color: black;
  text-decoration: none;
}

a#phone-link {
  color: black;
  text-decoration: none;
}

svg#icon-email {
  color: black;
}

ul.technologies {
  list-style: none;
  padding: 1em 1em;
  margin: 1.3em 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

ul.technologies li {
  margin: 1em 0.5em;
  padding: 12px 24px;
  /*border: var(--secondary) dotted 0.35em;*/
  border-radius: 1.75em;
  outline: var(--secondary) dotted 0.5em;
  animation: fadeIn 2s forwards;
  /*background-color:*/
}


@font-face {
  font-family: fontOne;
  src: url('../fonts/AmaticSC-Bold.ttf')
}

@font-face {
  font-family: fontTwo;
  src: url('../fonts/AnnieUseYourTelescope-Regular.ttf')
}

@font-face {
  font-family: fontThree;
  src: url('../fonts/Calligraffitti-Regular.ttf');
}

@font-face {
  font-family: fontFour;
  src: url('../fonts/Handlee-Regular.ttf');
}

@font-face {
  font-family: fontFive;
  src: url('../fonts/HomemadeApple-Regular.ttf');
}

@font-face {
  font-family: fontSix;
  src: url('../fonts/Italianno-Regular.ttf');
}

@font-face {
  font-family: fontSeven;
  src: url('../fonts/MajorMonoDisplay-Regular.ttf');
}

@font-face {
  font-family: fontEight;
  src: url('../fonts/Pompiere-Regular.ttf');
}

@font-face {
  font-family: fontNine;
  src: url('../fonts/Satisfy-Regular.ttf');
}

@font-face {
  font-family: fontTen;
  src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}

@font-face {
  font-family: fontEleven;
  src: url('../fonts/StyleScript-Regular.ttf');
}

@font-face {
  font-family: fontTwelve;
  src: url('../fonts/UnicaOne-Regular.ttf');
}

@font-face {
  font-family: fontBars;
  src: url('../fonts/Wavefont-VariableFont_ROND,YELA,wght.ttf');
}

@keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }
}

@keyframes borderFun {
  0%, 100% {
    border-radius: 0;
  }

  50% {
    border-radius: 100%;

  }
}

@keyframes slideIn {
  from {
    transform: translatex(-1000px);
    rotate: 90deg;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    rotate: 0deg;
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 8px var(--secondary);
  }
}

@keyframes shadowPulse {
  0%, 100% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 3px 6px 12px rgba(0, 0, 0, 0.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

